@media screen and (min-width: 1024px){
    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .cards {
        flex-basis: calc(100% / 3 - 20px );
    }
    
    .overlay img {
        width: 600px
    }
    
}