/* Header */
header {
    background-image: url(../img/wall.png);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Edu Tas Beginner', sans-serif;

}

header .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}


/* Main */
main {
    background-image: url(../img/cork.png);
    min-height: 90vh;
    padding: 10px;
}


/* Contenitore principale */
.container {
    width: 80%;
    margin: 0 auto;

}

/* Layout a griglia */
.row {
    margin-block: 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Card */
.cards {
    padding: 15px;
    background-color: white;
    position: relative;
    flex-basis: 100%;
}

.cards:hover {
    transform: rotate(6deg) translate(-5%);
    scale: 1.1;


}



/* Pin sopra la card */
.pin {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%);
}

/* Colonna */
.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span.title {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(165, 165, 165);
}



.data {
    font-family: 'Sometype Mono', monospace;
    color: rgb(165, 165, 165);
}


/* Animazione */

@keyframes slideInLeft {
    from {
        transform: translateX(-1400px);
    }

    to {
        transform: translateX(0);
    }
}
/* OVERLAY */

div.overlay {
    display: none;
}
.overlay{
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;

    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8)


}


.overlay img {
    width: 300px
}

