/* Header */
header {
    background-image: url(../img/wall.png);
    height: 10vh;
}

.title {
    font-family: Edu Tas Beginner, sans-serif;

}
header .title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;


}


/* Main */
main {
    background-image: url(../img/cork.png);
    min-height: 100vh;
}

/* Contenitore principale */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Layout a griglia */
.row {
    margin-block: 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Card */
.recipe-card {
    padding: 15px;
    background-color: white;
    position: relative;
    flex-basis: 100%;
}

.recipe-card:hover{
    transform: rotate(40deg) translate(-20%) ;

}

/* Pin sopra la card */
.pin {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%);
}

/* Colonna */
.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
span.title {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(165, 165, 165);
}


.data {
    font-family: Sometype Mono,monospace;
    color: rgb(165, 165, 165);
}


@keyframes slideInLeft {
    from {
        transform: translateX(-1400px);
    }

    to {
        transform: translateX(0);
    }
}